*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

ul {
    list-style: none;
}

ul ul {
    padding-left: 40px;
}